@import url("https://use.typekit.net/owx4dww.css");
@import url("https://use.typekit.net/owx4dww.css");

body * {
  font-weight: 300;
}

.client-section {
  height: 50vh;
}

a.inner-brand {
  font-weight: 200;
}

#cbs-work {
  background: url("../images/work/nyc.jpg") center center no-repeat;
}

#slash-work {
  background: url("../images/work/devin_and_jon.jpg") lightblue center center no-repeat;
}

#fbt-work {
  background: url("../images/work/fbt_team.JPG") center center no-repeat;
}

#cbs-work, #fbt-work, #slash-work {
  position: relative;
  -webkit-transition: all .5ms;
  -moz-transition: all .5ms;
  -ms-transition: all .5ms;
  -o-transition: all .5ms;
  transition: all .5ms;
  background-size: cover;
  background-blend-mode: screen;

  &:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: white;
    transition: all 500ms;
  }

  &:hover:before {
    background-color: transparent;
  }

  img {
    z-index: 1;
  }
}

@media (min-width: 768px) {
  .client-section {
    height: 50vw;
  }
}
