@import url("https://use.typekit.net/owx4dww.css");
@import url("https://use.typekit.net/owx4dww.css");

body * {
  font-weight: 300;
}

.client-section {
  height: 50vw;
}

a.inner-brand {
  font-weight: 200;
}

