extends include/templates/layout

block vars
    - var header_transparent = true;
    - var header_one_page    = true;

append css

append content

    // Hero
    section.module-cover.parallax.fullscreen.text-center#home(data-background="assets/images/desk.jpg" data-overlay="0.5")
        .container

            .row
                .col-md-12
                    h1.m-b-20: strong I'm trying </br> really hard.
                    p.m-b-40 Seriously. I learned pug for this site. I'm desperate.
                    p: a(href="#about" class="btn btn-circle btn-outline-new-white") What am I doing?
    // Hero end

    = "\n"

    // About
    section.module#about
        .container

            .row
                .col-md-6.m-auto.text-center
                    h1 I'm trying everything.
                    p.lead Remember when knowing JavaScript, HTML, and CSS was enough for a web developer? </br> <b>Now I have to know all of this stuff, too...</b>

    section.module.bg-gray
        .container
            .row
                .col-md-12
                    .d-flex.flex-row.justify-content-around
                        .fab.fa-angular.fa-5x
                        .fab.fa-vuejs.fa-5x
                        .fab.fa-react.fa-5x
            .row
                .col-md-12
                    .space(data-mY="30px")
            .row
                .col-md-12
                    .d-flex.flex-row.justify-content-around
                        .fab.fa-php.fa-5x
                        .fab.fa-python.fa-5x
                        .fab.fa-docker.fa-5x
                        .fab.fa-gulp.fa-5x
            .row
                .col-md-12
                    .space(data-mY="30px")
            .row
                .col-md-12
                    .d-flex.flex-row.justify-content-around
                        .fab.fa-less.fa-5x
                        .fab.fa-sass.fa-5x
                        .fab.fa-pied-piper.fa-5x

    // About end

    = "\n"

    // Testimonials
    section.module.parallax(data-background="assets/images/flatlay.jpg" data-overlay="0.8")#services
        .container

            .row
                .col-md-12
                    .space(data-MY="50px")
            .row
                .col-lg-3.col-md-6
                    +IconBox("ti-layout", "Frontend Development", "Bootstrap or Material? </br> Angular or React? </br> What happened to HTML?", "text-center", false)
                .col-lg-3.col-md-6
                    +IconBox("ti-pie-chart", "Data Visualization", "Charts? Check. </br> Graphs? Check. </br> Data grids? Check.", "text-center", false)
                .col-lg-3.col-md-6
                    +IconBox("ti-server", "Databases", "SELECT knowledge, experience </br> FROM resume </br> ORDER BY time, relevance;", "text-center", false)
                .col-lg-3.col-md-6
                    +IconBox("ti-harddrives", "Backend Development", "Who invited JavaScript to this party?", "text-center", false)

            .row
                .col-md-12
                    .space(data-MY="50px")
    // Services end

    // Clients
    section.module#clients
        .container

            .row
                .col-md-12
                    .owl-carousel.clients-carousel
                        .client
                            img(src="http://www.pngmart.com/files/4/Lenovo-Logo-Transparent-PNG.png" alt="Lenovo")
                        .client
                            img(src="https://drmcgillicuddy.com/static/images/logo.png" alt="Dr. McGillicuddy")
                        .client
                            img(src="https://sensus.com/wp-content/themes/sensus/assets/images/sensus_xylem_logo.svg" alt="Sensus")
                        .client
                            img(src="http://www.fincad.com/sites/default/files/customer/images/frg-logo.gif" alt="Financial Risk Group")
                        .client
                            img(src="https://photos.prnewswire.com/prnvar/20160111/320805LOGO?max=200" alt="Transcirrus")
                        .client
                            img(src="./assets/images/FBTMinimalBlack.png" alt="FBT Entertainment")
    // Clients end

    = "\n"

    // Form
    section.module.divider-bottom#contact
        .container

            .row
                .col-lg-6.col-md-9.m-auto.text-center
                    h1 Talk to me.
                    p.lead Want to work together? Want to get to know my dogs? Visiting the city and want to have coffee?

            .row
                .col-md-12
                    .space(data-MY="60px")

            .row
                .col-md-8.m-auto
                    form#contact-form(method="post" novalidate)
                        .row
                            .col-md-6
                                .form-group
                                    input.form-control(type="text" name="name" placeholder="Name" required="")
                                    p.help-block.text-danger
                            .col-md-6
                                .form-group
                                    input.form-control(type="email" name="email" placeholder="E-mail" required="")
                                    p.help-block.text-danger
                            .col-md-12
                                .form-group
                                    input.form-control(type="text" name="subject" placeholder="Subject" required="")
                                    p.help-block.text-danger
                            .col-md-12
                                .form-group
                                    textarea.form-control(name="message" placeholder="Message" rows="12" required="")
                            .col-md-12
                                p
                                    input(type="submit" class="btn btn-block btn-brand" value="Send Message")
                    // Ajax response
                    #contact-response.ajax-response.text-center
    // Form end