extends include/templates/layout

block vars
    - var header_transparent = true;
    - var header_one_page    = true;

append css

append content

    // Hero
    section.module-cover.parallax.fullscreen.text-center#home(data-background="assets/images/desk-min.jpg" data-overlay="0.5")
        .container

            .row
                .col-md-12
                    h1.m-b-20 Gear up to land <br> somewhere new.
                    p.m-b-40 Save time managing your Instagram accounts, publish <br> and analyze all your posts in one panel.
                    p: a(href="#" class="btn btn-circle btn-outline-new-white") Get Started
    // Hero end

    = "\n"

    section.module.py-0#work
        .container-fluid
            .row
                .col-md-6.m-auto.text-center.px-md-5
                    img.img-fluid(src="assets/images/portfolio/CBS_logo.svg")
                .col-md-6.m-auto.text-center.bg-light.client-section.flex-column.d-flex.align-items-center.justify-content-center
                    h1 This is explain
                    p.lead this is more explainer
                    p and this is the real deal my fella, you don't even knwo what it's like for thesee

            .row
                .col-md-6.m-auto.text-center.bg-light.client-section.flex-column.d-flex.align-items-center.justify-content-center
                    h1 This is explain
                    p.lead this is more explainer
                    p and this is the real deal my fella, you don't even knwo what it's like for thesee
                .col-md-6.m-auto.text-center.px-md-5
                    img.img-fluid(src="assets/images/portfolio/slash-logo.png")

            .row
                .col-md-6.m-auto.text-center.px-md-5
                    img.img-fluid(src="assets/images/portfolio/FBTMinimalBlack.png")
                .col-md-6.m-auto.text-center.bg-light.client-section.flex-column.d-flex.align-items-center.justify-content-center
                    h1 This is explain
                    p.lead this is more explainer
                    p and this is the real deal my fella, you don't even knwo what it's like for thesee



    = "\n"

    // About
    section.module#about
        .container

            .row
                .col-md-6.m-auto.text-center
                    h1 Your Site, Your Way.
                    p.lead See how your users experience your website in realtime or view trends to see any changes in performance over time.


            .row
                .col-md-12
                    .space(data-mY="30px")

            .row
                .col-lg-3.col-md-6
                    +IconBox("ti-layout", "User Interface Development", "They found their way from your Twitter to your website, let's keep them there with proven UI best practices.", "text-center", false)
                .col-lg-3.col-md-6
                    +IconBox("ti-harddrives", "Server-side Development", "Data drives the web, let's just make sure it's not driving away conversions by ensuring fast and accurate data delivery.", "text-center", false)
                .col-lg-3.col-md-6
                    +IconBox("ti-cup", "Wordpress Development", "It's the number one blog platform in the world, but what sets yours apart? Let's fix your theme and SEO and get you seen.", "text-center", false)
                .col-lg-3.col-md-6
                    +IconBox("ti-desktop", "ServiceNow Development", "ServiceNow is huge, but I'll help you navigate through it as a ServiceNow Certified System Administrator and developer.", "text-center", false)
    // About end

    = "\n"

    // Portfolio
    section.module#portfolio
        .container

            .row
                .col-md-12
                    ul.filters.serif
                        li: a(href="#" data-filter="*" class="current") All
                        li: a(href="#" data-filter=".ui") User Interface
                        li: a(href="#" data-filter=".backend") Backend Development
                        li: a(href="#" data-filter=".design") Design

            .row.row-portfolio(data-columns="3")
                .grid-sizer
                +PortfolioItem("assets/images/portfolio/CBS_logo.svg", "CBS Corporation", "backend", "Wordpress, ServiceNow", "https://cbscorporation.com")
                +PortfolioItem("assets/images/portfolio/Logo-Lenovo.png", "Lenovo", "ui", "JavaScript, CSS", "https://www.lenovo.com/us/en/")
                +PortfolioItem("assets/images/portfolio/sensus-xylem.png", "Sensus", "backend", "Python, Django", "https://sensus.com/")
                +PortfolioItem("assets/images/portfolio/transcirrus.jpg", "Transcirrus", "backend", "Python, Django", "https://transcirrus.com/")
                +PortfolioItem("assets/images/portfolio/slash-logo.png", "Slash Slash Inc", "ui", "Owner, Literally Everything", "https://slashslashinc.com")
                +PortfolioItem("assets/images/portfolio/FBTMinimalBlack.png", "FBT Entertainment", "ui", "Shopify, Google Apps", "https://fbtentertainment.com")
                +PortfolioItem("assets/images/portfolio/dr-mcgill.png", "Dr. McGillicuddy", "ui", "Python, Django", "https://drmcgillicuddy.com/")
                +PortfolioItem("assets/images/portfolio/super-pretendo-transparent.png", "Super Pretendo", "design", "Vuejs, Netlify", "https://superpretendomusic.com")
                +PortfolioItem("assets/images/portfolio/chelsea-cullen-logo.png", "Chelsea Cullen", "design", "Vuejs, Netlify",  "https://chelseacullen.me")
                +PortfolioItem("assets/images/portfolio/whale.png", "Oh Whales", "ui", "Netlify, Static", "https://theohwhales.com")
    // Portfolio end

    = "\n"

    // Form
    section.module#contact
        .container

            .row
                .col-lg-6.col-md-9.m-auto.text-center
                    h1 Let's talk.
                    p.lead I'm always heavily motivated by coffee, so if you're in the area,&nbsp;
                        a(href="http://www.thirdplaceraleigh.com/" target="_blank") here's a great place we can chat!

            .row
                .col-md-12
                    .space(data-MY="60px")

            .row
                .col-md-8.m-auto
                    form#contact-form(method="post" novalidate data-netlify="true")
                        .row
                            .col-md-6
                                .form-group
                                    input.form-control(type="text" name="name" placeholder="Name" required="")
                                    p.help-block.text-danger
                            .col-md-6
                                .form-group
                                    input.form-control(type="email" name="email" placeholder="E-mail" required="")
                                    p.help-block.text-danger
                            .col-md-12
                                .form-group
                                    input.form-control(type="text" name="subject" placeholder="Subject" required="")
                                    p.help-block.text-danger
                            .col-md-12
                                .form-group
                                    textarea.form-control(name="message" placeholder="Message" rows="12" required="")
                            .col-md-12
                                p
                                    input(type="submit" class="btn btn-block btn-brand" value="Send Message")
    // Form end

    = "\n"
