// Footer
footer.footer

    .footer-widgets
        .container

            .row

                .col-md-4
                    // Text widget
                    aside.widget.widget-text
                        .widget-title
                            h6 About Me
                        .textwidget
                            p Currently thriving in NYC.
                            p
                                |Location: 348 W 57th St, Suite 239<br>
                                |E-mail: jon.a.skinner@me.com<br>
                                |Phone: 919.744.7164<br>
                            ul.social-icons
                                li: a(href="https://twitter.com/ohwhalejon") #[i.fab.fa-twitter]
                                li: a(href="https://www.instagram.com/ohwhalejon/") #[i.fab.fa-instagram]
                                li: a(href="https://www.facebook.com/jon.skinner") #[i.fab.fa-facebook-f]
                                li: a(href="https://www.flickr.com/people/149953256@N05/") #[i.fab.fa-flickr]
                                li: a(href="https://github.com/jaskinner/") #[i.fab.fa-github]

                //.col-md-4
                //    // Twitter widget
                //    aside.widget.twitter-feed-widget
                //        .widget-title
                //            h6 Twitter Feed
                //        .twitter-feed(data-twitter="345170787868762112" data-number="1")

                .col-md-4.offset-md-4
                    aside.widget.widget-recent-works
                        .widget-title
                            h6 Just some of my puppy photography
                        ul
                            li: a(href="https://www.flickr.com/gp/149953256@N05/C724T1"): img(src="assets/images/dogs/cash.jpg" alt="This is Cash, my sister's Basset.")
                            li: a(href="https://www.flickr.com/gp/149953256@N05/C724T1"): img(src="assets/images/dogs/maggie.jpg" alt="Maggie the poodle fluff.")
                            li: a(href="https://www.flickr.com/gp/149953256@N05/C724T1"): img(src="assets/images/dogs/precious.jpg" alt="She is Precious in deed and in namesake.")
                            li: a(href="https://www.flickr.com/gp/149953256@N05/C724T1"): img(src="assets/images/dogs/guilly.jpg" alt="Guilly is a nervous schnauzer.")
                            li: a(href="https://www.flickr.com/gp/149953256@N05/C724T1"): img(src="assets/images/dogs/bear.jpg" alt="Bear is a large small dog.")
                            li: a(href="https://www.flickr.com/gp/149953256@N05/C724T1"): img(src="assets/images/dogs/josie.jpg" alt="Josie, you're my source of most frustation.")

    .footer-bar
        .container

            .row
                .col-md-12
                    .copyright
                        p © 2018 Jon Skinner, All Rights Reserved. This site uses pug.js, gulp.js, Bootstrap 4, and my awesome photography.
// Footer end