// Footer
footer.footer

    .footer-bar
        .container

            .row
                .col-md-12
                    .copyright
                        p © 2019 Jon Skinner, All Rights Reserved
// Footer end
